:root {


  /* Colors */
  --bg-primary: radial-gradient(73.72% 50% at 50% 50%, #868686 35.1%, #6D6D6D 100%);

  --bg-secondary: linear-gradient(270deg, #E0E0E0 0%, #C2C2C2 100%);

  --button-bg: #4848F0;


  --text-primary: #d9d9d9;
  --text-secondary: #0b0e15;



  /* Spacings */
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 4rem;


  --max-width: 93.75rem;
  --site-gutter: max(clamp(var(--space-l), 1dvw, var(--space-xl)), calc((100vw - var(--max-width)) / 2));
  --header-height: 4rem;

  /* Font configs */
  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.325rem;
  --fs-600: 1.625rem;
  --fs-700: 2rem;
  --fs-800: 2.325rem;
  --fs-900: 3rem;
  --fs-1000: 4rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-medium-bold: 600;
  --font-weight-bold: 700;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Open Sans", sans-serif;

  /* Heights */
  --hero-bottom-height: clamp(130px, 10dvh, 180px);
  --hero-section-height: calc(100dvh - var(--hero-bottom-height));
  /* Other reusable variables */
  --radius-xs: 8px;
  --radius-s: 16px;
  --radius-l: 65px;
  --scale: scale(1.02);
  --transition: 0.2s ease-in-out;

}


/* ========== Global & Reset ========== */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding-inline: var(--site-gutter);
  line-height: 1.5;


}

a {
  all: unset;
  align-items: center;
  cursor: pointer;

  /* because all: unset removes it */
}

/* ========== Header & Navigation ========== */
header {
  height: 10dvh;
  background: var(--bg-secondary);
  margin-top: 20px;
  border-radius: var(--radius-s);
  align-content: center;
  color: var(--text-secondary);





  nav {

    display: flex;
    font-size: var(--fs-200);
    justify-content: space-between;
    align-items: center;
    gap: var(--space-m);
    padding-inline: clamp(var(--space-m), 4vw, var(--space-l));


    ul {
      display: flex;
      height: 100%;
      gap: var(--space-m);

      li {
        place-self: center;
        list-style: none;
        transition: 0.4s;


        &:hover {
          cursor: pointer;
          scale: 1.05;
        }
      }
    }

    .hamburger-menu {
      display: none;
    }

  }
}


main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    color: var(--text-primary);
    display: grid;
    gap: var(--space-m);

    h1 {
      font-size: var(--fs-900);
      text-align: center;
      line-height: 1.5;
    }

    div {
      display: flex;
      justify-content: space-around;

      a {
        all: unset;
        padding: 10px 20px;
        background: var(--button-bg);
        transition: 0.1s;
        border-radius: var(--radius-xs);

        &:hover {
          cursor: pointer;
          scale: 1.2;
        }
      }
    }
  }
}

/*width of score bar should be 95% when smaller and on larger screens not go above maybe max width / 1.5.*/

.score-bar {
  width: clamp(min(95%, 20rem), 95%, calc(var(--max-width) / 1.5));
  height: 20px;
  border: 2px solid black;
}


.completed {
  color: green;
}

footer {
  width: 100%;
  height: 18dvh;
  background: var(--bg-secondary);
  color: var(--text-secondary);
}


@media (width < 54rem) {
  header {
    nav {

      display: flex;
      font-size: var(--fs-200);
      align-items: center;
      gap: var(--space-m);
      padding-inline: clamp(var(--space-m), 4vw, var(--space-l));
      height: 100%;


      ul {
        display: none;

        li {
          place-self: center;
          list-style: none;
          transition: 0.4s;


          &:hover {
            cursor: pointer;
            scale: 1.05;
          }
        }
      }

      button {
        display: none;
      }


      .hamburger-menu {
        position: relative;
        display: block;
        width: 40px;
        height: 32px;

        span {
          position: absolute;
          width: 100%;
          height: 4px;
          background: black;
          transform-origin: center;
          transition: transform 0.3s ease, opacity 0.3s ease;
          border-radius: var(--radius-l);
          transform-box: content-box;


        }


        .menu-line-2 {
          top: 50%;
        }

        .menu-line-3 {
          top: 100%;
        }
      }

    }
  }
}












































/* ========== Mode Selection ========== */
.mode-container {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* ========== Note Builder ========== */
.note-builder-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  background-color: dodgerblue;

  button {
    border: 1px solid black;

    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    background-color: blanchedalmond;
  }
}

/* ========== User-Built Mode ========== */
.user-built-mode-container {
  display: flex;
  padding: 10px;
  background-color: dodgerblue;

  div {
    border: 1px solid black;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    background-color: blanchedalmond;
  }
}

.user-built-notes-container {
  display: flex;
  padding: 10px;
  background-color: dodgerblue;

  div {
    border: 1px solid black;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    background-color: blanchedalmond;
  }
}

.undo-button-container {
  background-color: dodgerblue;

  button {
    border: 1px solid black;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    background-color: blanchedalmond;
    margin: 5px;
  }
}

/* ========== Chord styling ========== */

.chords-container {
  display: flex;
  gap: 20px;

}

/* ========== Buttons ========== */
button {
  all: unset;
  padding: 10px 20px;
  background: var(--button-bg);
  transition: 0.1s;
  border-radius: var(--radius-xs);
  color: var(--text-primary);


  &:hover {
    cursor: pointer;
    scale: 1.2;
  }
}

.custom-button {
  transition: 0.1s;

  &:hover {
    cursor: pointer;
    scale: 1.2;
  }
}

.game-button-active {
  background: darkgray;
}

.correct {
  background-color: green !important;
}



























/* ========== Button Containers ========== */
.note-buttons-container,
.number-buttons-container,
.key-buttons-container {
  display: flex;
  gap: 10px;
}

.key-buttons-container {
  border: 3px solid black;
  width: fit-content;
}

/* ========== Game Over UI ========== */
.game-over-message-container {
  height: 25dvh;
  background-color: rgb(112, 112, 112);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-over-disabled {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: blue;
  opacity: 0;
}

/* ========== Animations ========== */
.wrong {
  animation: wrongAnimation 0.5s ease-out;
}

.correct-animation {
  animation: correctAnimation 0.5s ease-out;
}

@keyframes wrongAnimation {
  from {
    background-color: red;
  }

  to {
    background-color: inherit;
  }
}

@keyframes correctAnimation {
  from {
    background-color: green;
  }

  to {
    background-color: inherit;
  }
}

/* ========== Utilities ========== */
.active {
  text-decoration: underline;
}

.not-visible {
  display: none;
}